doctype html
html(class="no-js", lang="en")
  block metahead
    include metahead

  body.debug

    block content
      //- content goes here..

    include ../_patterns/back-to-top

    include script
