head

  block title
    title Lentera

  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='###########')
  meta(name='keywords', content='###########')
  meta(name='description', content='#########')
  meta(property='og:image', content='###########')
  meta(property='og:site_name', content='###########')
  meta(property='og:title', content='###########')
  meta(property='og:description', content='###########')
  
  meta(name='base_url', content='http://localhost/lentera/public')
  script.
    window.base_url = 'http://localhost/lentera/public';

  link(rel='apple-touch-icon-precomposed', sizes="152x152", href='../assets/images/favicons/favicon-152.png')
  link(rel='apple-touch-icon-precomposed', sizes="144x144", href='../assets/images/favicons/favicon-144.png')
  link(rel='apple-touch-icon-precomposed', sizes="120x120", href='../assets/images/favicons/favicon-120.png')
  link(rel='apple-touch-icon-precomposed', sizes="114x114", href='../assets/images/favicons/favicon-114.png')
  link(rel='apple-touch-icon-precomposed', sizes="72x72", href='../assets/images/favicons/favicon-72.png')
  link(rel='apple-touch-icon-precomposed', href='../assets/images/favicons/favicon-57.png')

  link(rel='author', href='humans.txt')
  
  script(src="../assets/js/vendor/modernizr.js")

  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src='assets/js/plugins/html5shiv.min.js')
    script(src='assets/js/plugin/respond.min.js')
  //if lt IE 9

