
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(type='text/javascript').
  window.jQuery || document.write('<script type="text/javascript" src="../assets/js/vendors/jquery.min.js"><\/script>')
script(type='text/javascript', src='../assets/js/vendors/bootstrap.min.js')  

script(type='text/javascript').
  Modernizr.load([
    '../assets/js/vendors/enquire.min.js',
    '../assets/js/site.js'
  ]);
