.wrapper-header
  //- header.navbar.navbar-detached#navbar
  header.navbar.navbar-detached#navbar
    .container
      h1.navbar-logo
        a(href='//')
          img(src='../assets/images/header-logo.png')
      .navbar-toggle.hide-for-medium-up
        a(href='#', title='skip to navigation')
          i.fa.fa-bars.fa-2x
          span Menu

    nav.global-nav.hide#main-nav(role='navigation')
      a(href='index.html') Home
      a(href='user.html') User
      a(href='settings.html') Settings
