a.radius.button(href="#", data-reveal-id="myModal") Reveal Modal

#myModal.reveal-modal.small(data-reveal)
  h2.modal-heading Modal title!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus non sit similique impedit dolore dignissimos laborum ab quaerat, reiciendis iusto, ipsam, praesentium cumque laudantium repellat a delectus blanditiis consequatur nam!
  a.close-reveal-modal
    i.fa.fa-times
